$background-color: rgb( 0, 0, 0 );
$text-color: #FFFFFF;

body {
  color: $text-color;
  background: $background-color;
  text-align: left;
  font-family: 'Helvetica', 'Arial', sans-serif;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 20px;

  h1 {
    color: #FFD400;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  h2 {
    color: #FAA619;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  h3 {
    color: #00ADEF;
    padding: 10px;
    text-align: center;
    span {
      font-style: italic;
      font-size: 80%;
      padding-left: 20px;
    }
  }

  p {
    color: $text-color;
    /*width: 50%;*/
  }

  ul {
      list-style-type: disc;
  }

  a {
    text-decoration: none;
    color: #ED174C;
    &:hover {
      color: $text-color;
    }
  }

  img {
    border-radius: 50%;
    padding: 10px;
  }

  .centerImg {
    display: block;
    margin: auto;
  }

  .container {
    width: 80%;
    padding: 10px;
    margin: 0 auto;
  }
}
